body {
  padding: 50px;
  padding-top: 5rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.index-container {
  padding-top: 3rem;
}

.table-messages {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem
}
